:host(.movie) {
  background: firebrick;
}

.movie {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.1rem solid cornflowerblue;
  width: 30rem;
  margin: 1.2rem;
  padding: 3rem;
  font-size: 1.5rem;

  .poster_container {
    align-self: center;
    height: 45rem;
    padding: 10px;

    .poster {
      height: 30rem;
    };
  }
}

