<div *ngIf="movie">
  <div class="movie">
    <div>
      <b>Title:</b> {{movie.title}}</div>
    <div>
      <b>Genres:</b> {{movie.genres.join(', ')}}
    </div>
    <div class="poster_container">
      <img
        [src]="movie.posterUrl"
        alt="There is no poster"
        class="poster"
      />
    </div>
    <div>{{movie.description}}</div>
    <div>Likes: {{movie.likes}}</div>
    <star-rating-comp
      hoverEnabled="false"
      [starType]="'svg'"
      [rating]="movie.stars"
      [disabled]="true"
    ></star-rating-comp>
  </div>
</div>
