<form
  *ngIf="movie"
  class="edit_form"
  [formGroup]="movieEditForm"
  (submit)="onSubmit()"
  (ngSubmit)="onSubmit()"
>
  <label for="title">Title</label>
  <input type="text" id="title" formControlName="title" />
  <br/><br/>
  <label for="posterUrl">posterUrl</label>
  <input type="text" id="posterUrl" formControlName="posterUrl" />
  <br/><br/>
  <!--<label for="genres">genres</label>-->
  <!--<input type="text" id="genres" formControlName="genres" />-->
  <!--<br/><br/>-->
  <!--<label for="actors">actors</label>-->
  <!--<input type="text" id="actors" formControlName="actors" />-->
  <!--<br/><br/>-->
  <label for="director">director</label>
  <input type="text" id="director" formControlName="director" />
  <br/><br/>
  <label for="description">description</label>
  <textarea id="description" formControlName="description"></textarea>
  <button type="submit">Submit</button>
</form>

