.movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 45rem;
  border: 0.1rem solid cornflowerblue;
  width: 30rem;
  margin: 0.2rem;
  padding: 3rem;
  font-size: 1.5rem;

  div {
    margin: 0.1rem;
  }

  .poster_container {
    align-self: center;
    height: 45rem;
    padding: 10px;

    .poster {
      height: 30rem;
    };
  }
}
